<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%for (let i = 0; i < content.length; i++){%>
        <h1><%= content[i] %></h1>
    <%}%>
    <p>TAMPILAN EDIT <%= title %></p>
  </body>
</html>
